html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #ffdfdf;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	text-align: center;
	background-image: url('/images/fundo.png');
	background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
	background-repeat: no-repeat; /* Evita que a imagem se repita */
	background-position: center; /* Centraliza a imagem */
		
}

h1 {
 	color: rgb(255, 255, 255);
 	font-weight: bold;
 	font-family: Arial, Helvetica, sans-serif;
}

.menu {
	display: block;
	font-size: 20px;
	margin: auto;
	margin-bottom: 5px;
	border-style: solid;
	border-width: 3px;
	width: 20%;
	padding: 5px;
	background-color: rgb(218, 216, 233);
	border: 3px solid black;
	text-align: center;
	text-decoration: none;
	color: black;
	padding: 5px 0px 5px 0px;
}

.menu:hover{
	background-color: rgb(113, 111, 129);
}

.menu:visited{
	color: black;
}

img.sobre {
	max-width:25%;
	max-height:25%;
}

/**/

.quadro-autores {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	background-color: #dbcaca;
	border: 3px solid #000000;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 600px;
	margin: 20px auto;
	text-align: center;
}
  
.quadro-autores p {
	margin: 10px 0;
	font-size: 18px;
	color: #000000;
}
  
.logo {
    display: block; /* Garante que a imagem será exibida como um bloco */
    margin-left: auto;
    margin-right: auto; /* Centraliza a imagem */
    width: 250px; /* Define o tamanho da imagem */
    height: auto; /* Mantém a proporção original da imagem */
    border-radius: 8px; /* Adiciona cantos arredondados à imagem */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra suave ao redor da imagem */
}


