table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td.celula {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    vertical-align: middle; /* Corrige 'center' para o valor correto */
    height: 30px;
    width: 30px;
    background-color: white; /* Define o fundo branco */
}


td.personagem {
    background-color: rgb(3, 238, 255);
    cursor: pointer;
}

td.objetivo {
    background-color: rgb(240, 14, 14);
    color: rgb(255, 255, 255);
}

td.bloco {
    background-color: rgb(109, 12, 91);
    color: white;
}