table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

td.celula {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    height: 50px;
    width: 50px;
}

td.personagem {
    background-color: rgb(3, 238, 255);
    cursor: pointer;
}

td.objetivo {
    background-color: rgb(240, 14, 14);
    color: rgb(255, 255, 255);
}

td.bloco {
    background-color: black;
    color: white;
}